.button {
  padding: 10px;
  font-family: var(--font-rubik), var(--font-sans-sans-jp), sans-serif;
  color: var(--text-button);
  cursor: pointer;
  user-select: none;
  background: var(--primary-primary);
  border: none;
  border-radius: var(--radius-button);

  &.primary {
    background: var(--primary-accent);
  }

  &.success {
    background: var(--accent-success);
  }

  &.error {
    background: var(--accent-error);
  }

  &.info {
    background: var(--accent-info);
  }

  &.warning {
    background: var(--accent-warning);
  }

  &:hover {
    opacity: 0.8;
  }
}
