:root {
  --brand-500: #0f4d5c;
  --brand-400: #1b7b93;
  --brand-300: #5bb3b3;
  --brand-200: #a7d7d7;
  --brand-100: #e2f4f2;
  --primary-primary: #111827;
  --primary-accent: #009e9d;
  --text-primary: #282c32;
  --text-secondary: #4a5568;
  --text-tertiary: #9ca3af;
  --text-link: #2563eb;
  --text-button: #f9fafb;
  --ui-primary: #fff;
  --ui-info: #2563eb;
  --ui-warning: #f59e0b;
  --ui-secondary: #f3f4f6;
  --ui-tertiary: #d1d5db;
  --ui-disable: #a3a3a3;
  --ui-border: rgb(0 0 0 / 8%);
  --ui-background: #f6f6f6;
  --ui-modal: rgb(0 0 0 / 48%);
  --accent-error: #dc2626;
  --accent-success: #009e9d;
  --accent-info: #2563eb;
  --accent-error-fill: #fee2e2;
  --accent-success-fill: #e5fafa;
  --accent-info-fill: #dbeafe;
  --action-hover: rgb(0 0 0 / 4%);
  --action-pressed: rgb(0 0 0 / 8%);
  --action-selected: rgb(0 0 0 / 6%);
  --action-primary-hover: #242a38;
  --action-primary-pressed: #1b2130;
  --action-error-hover: #d32424;
  --action-error-pressed: #ca2323;
  --action-hover-primary: rgb(255 255 255 / 8%);
  --action-hover-pressed: rgb(255 255 255 / 4%);
  --action-do-not-use-link-selected: rgb(30 59 211 / 8%);
}
