:root {
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-tag: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-button: 8px;
  --radius-input-field: 8px;
  --radius-card: 12px;
  --radius-modal: 12px;
  --radius-2-xl: 16px;
  --radius-pill: calc(infinity);
  --button-height-small: 40px;
  --button-height-default: 44px;
}
