.worksTitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.wrap {
  max-width: 1200px;
  margin: 20px auto 10px auto;

  .worksList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    a {
      text-decoration: none;
      color: inherit;

      .workItem {
        background-color: var(--ui-primary);
        border-radius: var(--radius-card);
        height: 100%;

        .workItemImg {
          width: 400px;
          height: 200px;
          border-radius: var(--radius-card) var(--radius-card) 0 0;
          background-size: cover;
          object-position: center;
        }

        .workItemTitle {
          margin: 1rem 0;
          padding: 0 12px;
          overflow-x: hidden;

          .link {
            display: flex;
            justify-items: flex-start;
          }
        }
      }
    }
  }
}
